@model HogwartsRunningClub.Models.ViewModels.CommonRoomViewModel


@{
    ViewData["Title"] = "Common Room";
}

<div>

    <h2>Welcome to the @Model.House.Title Common Room!</h2>

    <a asp-controller="Topics" asp-action="Create" class="btn btn-sm btn-primary" asp-route-id="@Model.House.Title">Post a Topic</a>

    <div class="col-md-12 row"> 
        <div class="cold-md-4">
            <h4>House Members</h4>
            @foreach (ApplicationUser user in Model.HouseMembers) 
             { 
                <div>
                    <p>@user.UserName @user.MilesRun</p>
                </div>
             }
        </div>
        <div class="cold-md-8">
            <h4>House Exclusive Topics</h4>
            <div class="row">
                <a asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="All" class="btn btn-sm btn-primary">All</a>
                @for (var i = 0; i < @Model.TopicCategories.Count; i++ ) 
                 {
                    <a asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="@Model.TopicCategories[i].Label" class="btn btn-sm @Model.BtnColors[i]">@Model.TopicCategories[i].Label</a>
                 }
            </div>
            <div id="topic-container">
                @foreach (Topic topic in Model.HouseTopics)
                {
                    <h5 class="col-md-12 topic">
                        <a asp-controller="Topics" asp-action="Details" asp-route-id="@topic.TopicId">@topic.Title - @topic.User.UserName - (@topic.Comments.Count) Comments</a>
                    </h5>
                }

                @if (Model.Pager.EndPage > 1)
                {
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li>
                                <a asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="@Model.Category">First</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                <a asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="@Model.Category" asp-route-page="@(page)">@(page)</a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li>
                                <a asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.CurrentPage + 1)">Next</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>


    </div>
</div>
