@model HogwartsRunningClub.Models.ViewModels.GreatHallViewModel


@{
    ViewData["Title"] = "Great Hall";
}
<div>
    <h2>Great Hall</h2>
    <div>
        <a asp-controller="Topics" asp-action="Create" asp-route-House="false" class="btn btn-sm btn-primary">
           Post a Topic
        </a>
    </div>
    <div class="form-group">
        <form asp-controller="Home" asp-action="ViewGreatHall">
            <h4>Search for a Topic</h4>
            <input class="form-control" type="text" name="search" value="" />
        </form>
    </div>

    <div>
        <div class="d-flex justify-content-around">
            <a asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="All" class="btn btn-sm btn-primary">All</a>
            @for (var i = 0; i < @Model.TopicCategories.Count; i++)
            {
                <a asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.TopicCategories[i].Label" class="btn btn-sm @Model.BtnColors[i]">@Model.TopicCategories[i].Label</a>
            }
        </div>
        <div id="topic-container">
            @if (Model.Pager.EndPage > 1)
            {
                <nav class="d-flex justify-content-center mt-2" aria-label="Page Navigation">
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(page)">@(page)</a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.CurrentPage + 1)">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
            <div class="topic-links">
                @foreach (Topic topic in Model.NonExclusiveTopics)
                {
                    <div>
                        <hr />
                        <h5 class="topic d-flex justify-content-start">
                            <img class="comment-img mr-3 img-thumbnail" src="~/images/DefaultImage@(topic.User.House.Title).png" alt="@topic.User.UserName"/>
                            <a class="text-dark mt-3" asp-controller="Topics" asp-action="Details" asp-route-id="@topic.TopicId">@topic.Title - <span class="text-@topic.User.House.Title">@topic.User.UserName</span> - (@topic.Comments.Count) Comments</a>
                        </h5>
                        <hr />
                    </div>
                }
            </div>
            @if (Model.Pager.EndPage > 1)
            {
                <nav class="d-flex justify-content-center mt-2" aria-label="Page Navigation">
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(page)">@(page)</a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.CurrentPage + 1)">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

