@model HogwartsRunningClub.Models.ViewModels.GreatHallViewModel


@{
    ViewData["Title"] = "Great Hall";
}
<div>
    <h2>Great Hall</h2>
    <div>
        <form asp-controller="Topics" asp-action="Create" method="get">
            <button class="btn btn-primary">Post a Topic</button>
        </form>
    </div>
    <div class="col-md-12">
        <div class="row">
            <button class="btn btn-sm" id="all-topics-btn">All</button>
            @for (var i = 0; i < @Model.TopicCategories.Count; i++)
            {
                <button class="btn btn-sm @Model.BtnColors[i]" id="@Model.TopicCategories[i].TopicCategoryId-@Model.TopicCategories[i].Label">@Model.TopicCategories[i].Label</button>
            }
        </div>
        <div id="topic-container">
            @foreach (Topic topic in Model.NonExclusiveTopics)
            {
            <h5 class="col-md-12 topic">
                <a asp-controller="Topics" asp-action="Details" asp-route-id="@topic.TopicId" id="topic-@topic.TopicId-@topic.TopicCategoryId">@topic.Title - @topic.User.UserName</a>
            </h5>
            }
        </div>
    </div>
</div>

