@model HogwartsRunningClub.Models.ViewModels.GreatHallViewModel


@{
    ViewData["Title"] = "Great Hall";
}
<div>
    <h2>Great Hall</h2>
    <div>
        <form asp-controller="Topics" asp-action="Create" method="get">
            <div class="form-group">
                <button class="btn btn-primary">Post a Topic</button>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <div class="row">
            <a asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="All" class="btn btn-sm btn-primary">All</a>
            @for (var i = 0; i < @Model.TopicCategories.Count; i++)
            {
                <a asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.TopicCategories[i].Label" class="btn btn-sm @Model.BtnColors[i]">@Model.TopicCategories[i].Label</a>
            }
        </div>
        <div id="topic-container">
            @foreach (Topic topic in Model.NonExclusiveTopics)
            {
                <h5 class="col-md-12 topic">
                    <a asp-controller="Topics" asp-action="Details" asp-route-id="@topic.TopicId">@topic.Title - @topic.User.UserName - (@topic.Comments.Count) Comments</a>
                </h5>
            }

            @if (Model.Pager.EndPage > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(page)">@(page)</a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.CurrentPage + 1)">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="@Model.Category" asp-route-page="@(Model.Pager.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

