@model HogwartsRunningClub.Models.ApplicationUser

@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Hogwarts Running Club, @Model.UserName!</h2>
@if (Model.HouseId == null) 
 { 
    <a asp-action="SortingHat" class="btn btn-info">Sort</a>
 }
@if (Model.HouseId != null) 
 { 
    <p>House: @Model.House.Title</p>
 }
<hr />
<div class="progress">
    <div class="progress-bar progress-bar-striped-@Model.House.Title progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Race Collection: </p>
        @foreach (UserRace medal in Model.UserRaces) 
         { 
            <p>@medal.Race.Title</p>
         }

    </div>

    <div class="cold-md-6">
        @foreach (Topic topic in Model.UserTopics) 
         { 
            <a asp-controller="Topics" asp-action="Details" asp-route-id="@topic.TopicId">@topic.Title - @Model.UserName</a>
         }
    </div>
</div>

