@model HogwartsRunningClub.Models.ViewModels.TopicViewModels.DetailsTopicViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-between">
    <div class="d-flex">
        @if (Model.Topic.User.ImagePath == null)
        {
            <img class="comment-img mr-3 img-thumbnail" src="~/images/DefaultImage@(Model.Topic.User.House.Title).png" alt="@Model.Topic.User.UserName Image">
        }
        <h2 class="mt-2">@Model.Topic.User.UserName</h2>
    </div>
    @if (Model.Edit)
    {
        <div class="justify-content-end">
            <div class="btn-group mt-2">
                <a asp-action="Edit" asp-route-id="@Model.Topic.TopicId" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Topic.TopicId" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

<div>
    <hr />
    <div class="topic-card" id="topic-@Model.Topic.TopicId">
        <span>Total Views: @Model.Topic.TotalViews</span>
        <h3>@Model.Topic.Title</h3>
        <span>Posted On: @Model.Topic.DateCreated</span>
        <hr />
        <div>
            <p><pre class="card-text emoji-convert">@Model.Topic.Content</pre></p>
        </div>
        <hr />
        <div id="comment-form">
            <div id="add-comment-btn-container">
                <div class="form-group row justify-content-md-center">
                    <button class="btn btn-sm btn-@Model.User.House.Title" id="add-comment-btn">Comment</button>
                </div>
            </div>
            <div id="add-comment-form-container">
                <form asp-controller="Comments" asp-action="CreateComment" asp-route-TopicId="@Model.Topic.TopicId" id="add-comment-form">
                    <div class="form-group">
                        <textarea class="form-control emojis-wysiwyg" placeholder="Keep is civil, make Dumbledore proud..." rows="5" id="comment-content" name="Content"></textarea>

                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="col-md-1 btn btn-sm btn-@Model.User.House.Title mr-2" id="submit-comment-btn">Send</button>
                        <button class="col-md-1 btn btn-sm btn-secondary mr-2" id="cancel-comment-btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="comments-container">
            @if (Model.Topic.Comments.Count > 0)
            {
                <ul class="list-unstyled p-2">
                    @foreach (Comment comment in Model.Topic.Comments)
                    {
                    <li class="media">
                        @if (comment.User.ImagePath == null)
                        {
                            <img class="comment-img mr-3 img-thumbnail" src="~/images/DefaultImage@(comment.User.House.Title).png" alt="@comment.User.UserName Image">
                        }
                        <div class="media-body">
                            @if (Model.Topic.User.UserName == comment.User.UserName)
                            {
                                <h5 class="mt-0 mb-1 text-@comment.User.House.Title">@comment.User.UserName <span class="text-info"><small>*Topic Creater*</small></span></h5>
                            }
                            else
                            {
                                <h5 class="mt-0 mb-1 text-@comment.User.House.Title">@comment.User.UserName</h5>
                            }
                            
                            <div class="lead emoji-convert" id="comment-content-@comment.CommentId">@comment.Content</div>
                            @if (comment.User.UserName == Model.User.UserName) 
                             { 
                                <div class="edit-comment-container" id="edit-comment-form-@comment.CommentId">
                                    <form asp-controller="Comments" asp-action="EditComment" asp-route-CommentId="@comment.CommentId">
                                        <div class="example">
                                            <textarea name="Content" class="form-control emojis-wysiwyg" rows="5">@comment.Content</textarea>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-sm btn-@Model.User.House.Title mt-2 mr-2">Save Changes</button>
                                            <button class="btn btn-sm btn-secondary mt-2 mr-2" id="cancel-edit-btn-@comment.CommentId">Cancel</button>
                                        </div>
                                    </form>

                                </div>
                             }

                            <p class="mb-0 text-right"><small>@comment.DateCreated</small></p>
                            
                            @if (comment.User.UserName == Model.User.UserName)
                            {
                                <div class="form-group d-flex justify-content-end">
                                    <button class="btn btn-link" id="edit-comment-btn-@comment.CommentId">Edit</button>

                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">
                                        Delete
                                    </button>

                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLongTitle">Remove Comment?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to permanently delete this comment?
                                                    <br />
                                                    <br />
                                                    <span class="lead">"@comment.Content"</span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <form asp-controller="Comments" asp-action="DeleteComment" asp-route-id="@comment.CommentId"                method="post">
                                                        <button class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <hr />
                        </div>
                    </li>
                    }

                </ul>
            }

        </div>
    </div>
</div>


