@model HogwartsRunningClub.Models.ViewModels.TopicViewModels.DetailsTopicViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.TotalViews)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.TotalViews)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.TopicCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.TopicCategory.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.User.UserName)
        </dd>
    </dl>
</div>

@if (Model.Edit) 
 { 
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Topic.TopicId" class="btn btn-sm btn-warning">Edit</a>
    </div>
    <div>
        <a asp-action="Delete" asp-route-id="@Model.Topic.TopicId" class="btn btn-sm btn-danger">Delete</a>
    </div>
 }
