@model IEnumerable<HogwartsRunningClub.Models.Topic>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalViews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseExclusive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalViews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseExclusive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicCategory.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TopicId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TopicId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TopicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
